<div class="form-inline">
    <div class="form-group">
        <label>Username</label>
        <input [(ngModel)]="username" type="text" class="form-control" />
    </div>
</div>
<div class="form-inline">
    <div class="form-group">
        <label>Password</label>
        <input [(ngModel)]="password" type="password" class="form-control" />
    </div>
</div>
<div>*Password is not used, it will just display below here as the user types to demo databinding visually</div>
<div> {{password}} </div>
<button class="btn btn-primary" (click)="submit()" *ngIf="username.length > 4">Signup</button>